*.html
ads.txt
build/**

**/_out/*
**/.vscode/*
.DS_Store
build_ebook.log
temp_ebook.md
ebook/*.pdf
ebook/*.epub

convert.py

project/build/**
project/android/.gradle/**
project/android/.idea
project/android/.gradle/**
project/android/app/.cxx/**
project/android/app/build/**
local.properties

project/simple_engine/build/**
project/simple_engine/Assets/**
project/simple_engine/android/.gradle/**
project/simple_engine/android/.idea
project/simple_engine/android/.gradle/**
project/simple_engine/android/app/.cxx/**
project/simple_engine/android/app/build/**
project/simple_engine/android/app/build/**
project/simple_engine/android/gradle/wrapper/**
project/simple_engine/android/gradlew
project/simple_engine/android/gradlew.bat
